# Solana
SOLANA_RPC_URL=https://devnet.helius-rpc.com/?api-key=
PROGRAM_ID=
MERKLE_TREE_ADDRESS=
MINT_AUTHORITY_KEYPAIR_PATH=

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/veymark

# Crypto
SDM_MASTER_KEY=







